*{
    margin: 1em;
    padding: 0;
}
body{
    font-family: Arial;
    font-size: 10pt;
}

table{
    border: 1px solid rgb(204, 29, 29);
    border-collapse: collapse;
    align-content: center;
}

table td{
    padding: 5px;
    align-content: center;
}

#dvCSV{
    text-align: center;
    align-content: center;
}